@import './base.css';
.container-shadow {
  margin: 30px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.editing td {
  background-color: #f0f0f0;
}

.text-primary {
  color: #007bff !important;
}
